user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;



{{range lsdir "/nginx"}}
{{with $app := .}}
{{with $upstream := $app | printf "/nginx/%s/upstream" }}
{{with $domain := $app | printf "/nginx/%s/domain"}}
{{with $alias := $app | printf "/nginx/%s/alias"}}
{{if ls $upstream }}
upstream {{$app}} {
  	{{range ls $upstream}}
		{{with $server := printf "%s/%s" $upstream .}}
		server {{getv $server}};
		{{end}}
	{{end}}
}
server {
    listen 443 ssl;

    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";
    
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_certificate {{ getv $domain | printf "/etc/nginx/certs/%s.pem"}};
    ssl_certificate_key {{ getv $domain | printf "/etc/nginx/certs/%s.key"}};
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.8.8 8.8.4.4;

    server_name {{getv $domain}};

    location / {
	proxy_pass		http://{{$app}};
	proxy_set_header	Host			$host;
	proxy_set_header  	X-Real-IP		$remote_addr;
	proxy_set_header	X-Forwarded-For		$proxy_add_x_forwarded_for;
    }
}

server {
    listen 80;
    server_name {{getv $domain }};
    return 301 {{getv $domain | printf "https://%s$request_uri"}};
}

server {
    listen 443 ssl;
    listen 80;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_certificate {{ getv $domain | printf "/etc/nginx/certs/%s.pem"}};
    ssl_certificate_key {{ getv $domain | printf "/etc/nginx/certs/%s.key"}};
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.8.8 8.8.4.4;

    server_name {{getv $domain | printf "www.%s" }};

    return 301 {{getv $domain | printf "https://%s$request_uri"}};
}
{{else}}
server {
    listen 443 ssl;
    listen 80;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_certificate {{ getv $domain | printf "/etc/nginx/certs/%s.pem"}};
    ssl_certificate_key {{ getv $domain | printf "/etc/nginx/certs/%s.key"}};
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.8.8 8.8.4.4;
    
    server_name {{getv $domain | printf "www.%s" }};

    return 301 {{getv $alias | printf "https://%s$request_uri"}};
}
server {
   listen 443 ssl;
   listen 80;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_certificate {{ getv $domain | printf "/etc/nginx/certs/%s.pem"}};
    ssl_certificate_key {{ getv $domain | printf "/etc/nginx/certs/%s.key"}};
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.8.8 8.8.4.4;
    
    server_name {{getv $domain | printf "%s" }};

    return 301 {{getv $alias | printf "https://%s$request_uri"}};    
}
{{end}}
{{end}}
{{end}}
{{end}}
{{end}}
{{end}}
}
daemon off;
